<div class="limiter">
  <div class="nav-wrap">
    <div class="page-title">
      Trang chu
    </div>
    <div class = "top-nav">
      <%= link_to 'Dang ky', '/users/new' %> &nbsp; &nbsp;
      <%= link_to 'Dang nhap', '/sessions/new' %> &nbsp; &nbsp;
      <%= link_to 'MANAGER ONLY: Tai khoan', '/users/show' %> &nbsp; &nbsp;
      <%= link_to 'MANAGER ONLY: Cong viec', job_all_path(@job) %>

    </div>
  </div>
</div>