.limiter {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  padding-right: 10%;
  padding-left: 10%;
}

.nav-wrap {
  width: 85%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 2%;
  align-items: center;
}

.form-wrap {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}


.page-title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.top-nav {
  text-align: right;
  justify-content: right;
  width: 100%;
}

.short-form-wrap {
  width: 400px;
  height: 600px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.shorter-form-wrap {
  width: 400px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.form-title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.form-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.form-label {
  position: relative;
  width: 100%;
  z-index: 1;
}

.button {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center
}

.bot-nav {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center
}

.form-button {
  width: 100%;
  height: 50px;
  text-align: center  
}

.command-button {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.command-button a{
  color: white;
  text-decoration: none;
}